.filter {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
    background-color: white;
    box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
    padding: 31px 48px;
    z-index: 1;
    top: 54px;
    right: 237px;

    &__window {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 32px 65px;
        max-height: 468px;
        min-width: 445.5px;
    }

    &__fieldset {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0;
        border: none;

        &--type {
            padding-right: 15px;
        }
    }

    &__legend {
        color: rgb(5, 5, 5);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 16px;
    }

    &__button {
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0;
        text-align: center;
        width: 190px;
        height: 40px;
        box-sizing: border-box;
        border: 1px solid rgb(4, 4, 4);
        border-radius: 20px;
        background-color: transparent;
        align-self: flex-end;
        max-width: 190px;
        width: 100%;
        cursor: pointer;
        &:hover{
            transition: 0.6s;
            background: black;
            color: white;
        }
    }
}

.radio {
    display: flex;
    align-items: center;
    gap: 10px;

    &__input {
        display: none;
    }

    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        padding-left: 30px;
        font-size: 14px;

        &::before {
            content: "";
            width: 14px;
            height: 14px;
            border: 1px solid #888888;
            border-radius: 50%;
            position: absolute;
            left: 0;
            background-color: white;
        }
    }

    &__input:checked + &__label::before {
        border-color: black;
        background-image: url(img/choice.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}
.range {
    display: flex;
    flex-direction: column;
    gap: 14px;
    &__price {
        display: flex;
        gap: 14px;
    }
    
    &__input {
        width: 190px;
        height: 10px;
        overflow: hidden;
        outline: none;
    }
    
    &__input,
    &__input::-webkit-slider-runnable-track,
    &__input::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: none;
    }
    
    &__input::-webkit-slider-runnable-track {
        width: 200px;
        height: 1px;
        background: #000;
    }
    
    &__input:nth-child(2)::-webkit-slider-runnable-track {
        background: none;
    }
    
    &__input::-webkit-slider-thumb {
        position: relative;
        height: 8px;
        width: 8px;
        margin-top: -4px;
        background: #000;
        border: 1px solid #000;
        border-radius: 25px;
        cursor: pointer;
        z-index: 1;
    }
    
    &__input::-webkit-slider-thumb:active {
        cursor: grabbing;
    }
    
    &__input:nth-child(1)::-webkit-slider-thumb {
        z-index: 2;
    }
    
    &__slider {
        font-family: sans-serif;
        font-size: 14px;
        position: relative;
        height: 20px;
        width: 210px;
        display: inline-block;
        margin-top: -5px;
    }
    &__slider input{
        position: absolute;
    }
}



.color-options {
    display: flex;
    flex-wrap: wrap;
    max-width: 190px;
    gap: 14px;

    &__checkbox {
        width: 15px;
        height: 15px;
    }
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;

    &__input {
        display: none;
    }

    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        padding-left: 30px;
        font-size: 14px;

        &::before {
            content: "";
            display: inline-block;
            width: 14px;
            height: 14px;
            border: 1px solid #888888;
            position: absolute;
            left: 0;
            background-color: white;
        }

        &--white::before {
            background-color: white;
            border-color: #808080;
        }

        &--black::before {
            background-color: black;
            border-color: black;
        }

        &--grey::before {
            background-color: grey;
            border-color: grey;
        }

        &--red::before {
            background-color: red;
            border-color: red;
        }

        &--orange::before {
            background-color: orange;
            border-color: orange;
        }

        &--yellow::before {
            background-color: yellow;
            border-color: yellow;
        }

        &--green::before {
            background-color: green;
            border-color: green;
        }

        &--teal::before {
            background-color: teal;
            border-color: teal;
        }

        &--lightblue::before {
            background-color: lightblue;
            border-color: lightblue;
        }

        &--darkblue::before {
            background-color: darkblue;
            border-color: darkblue;
        }

        &--purple::before {
            background-color: purple;
            border-color: purple;
        }

        &--violet::before {
            background-color: violet;
            border-color: violet;
        }

        &--lavender::before {
            background-color: lavender;
            border-color: lavender;
        }

        &--pink::before {
            background-color: pink;
            border-color: pink;
        }
    }

    &__input:checked + &__label::before {
        border-color: black;
        background-image: url(img/choice.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    &__input:checked + &__label--darkblue::before,
    &__input:checked + &__label--black::before,
    &__input:checked + &__label--blue::before,
    &__input:checked + &__label--purple::before {
        background-image: url(img/Done2.png);
    }
}