@media (max-width: 767px) {
    .center {
        padding-right: 16px;
        padding-left: 16px;
    }
    .header{
        padding-top: 32px;
        display: flex
;
        padding-top: 32px;
        justify-content: space-between;

        &__input{
            display: none;
        }
        &__logo{
            width: 99px;
        }
        
        &__links-box{
            display: none;
        }
        
        &-mob{
            display: block;
            display: flex;
            align-items: center;
            gap: 32px;
        }
    }
    
    .title{
        &__title{
            font-size: 48px;
            line-height: 59px;
            text-align: center;
        }
        &__slogan{
            font-size: 16px;
            line-height: 32px;
            text-align: center;
        }
        &__link{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 14px;
        }
    }
    .heading{
        font-size: 24px;
        line-height: 29px;
    }
    .special{
        &__text{
            font-size: 24px;
            line-height: 29px;
        }
        &__product{
            font-size: 18px;
            line-height: 22px;
        }
        &__lowprice{
            @include text-very-small;
        }
        &__highprice{
            @include text-very-small;
        }
    }
    .products{
        &__text{
            font-size: 24px;
            line-height: 29px;
        }
        &__filtr-box{
            flex-direction: column-reverse;
        }
        &__nav{
            padding-bottom: 14px;
        }
        &__name{
            font-size: 18px;
            line-height: 22px;
        }
        &__price{
            @include text-very-small;
        }
    }

    .cart {
        grid-template-columns: repeat(4, 1fr);

        &__img{
            display: none;
        }
        &__box {
            grid-column: span 4;
        }
        &__name{
            font-size: 18px;
            line-height: 22px;
        }
        &__description{
            width: 253px;
        }
        &__links{
            font-size: 14px;
        }
        &__price{
            @include text-very-small;
        }
        &__check{
            font-weight: 400;
        }
        &__title{
            font-family: $font-family;
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
        }
        &__buttons{
            font-size: 12px;
            line-height: 15px;
        }
    }
    .special-cart{
        &__text{
            font-size: 24px;
font-weight: 600;
line-height: 29px;
        }
        &__product{
            @include text-very-small;
        }
        &__lowprice{
            @include text-very-small;
        }
        &__highprice{
            @include text-very-small;
        }
    }

    .filter{
        right: -79px;
        top: 104px;
        &__window{
            max-height: 830px;
            min-width: 190px;
        }
    }

    .for{
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        &__item{
            grid-column: 1 / -1;
            height: 375px;
            font-size: 28px;
            line-height: 34px;
        }
        &__big{
            height: 244px;
        }
    }
    .footer{
        justify-content: center;
        gap: 34px;
        padding-bottom: 32px;
        &__content{
            gap: 100px;
        }
    }
    
}

@import 'vars'