@media (max-width: 1024px){
    .center {
        padding-left: calc(50% - 394px);
        padding-right: calc(50% - 394px);
    }

    .for{
        &__item{
            height: 268px;
        }
    }

    .special__products {
        gap: 29px;
    }

    .special-cart__products{
        gap: 29px;
    }

    .products__box{
        column-gap: 29px;
        row-gap: 39px;
    }

    .footer__logo{
        display: none;
    }
    .filter{
        right: 5px;
    }
    .cart{
        grid-template-columns: repeat(8, 1fr);
        &__buttons:nth-child(2):hover{
            background: rgb(0, 0, 0);
            color: white;
        }
    }
}

@media (min-width: 768px) and (max-width: 833px){
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .special__cards{
        width: 345px;
    }
    .special-cart__products{
        gap: 29px;
    }
    .special-cart__cards{
        width: 345px;
    }

    .products__cards{
        width: 345px;
    }
}

@import 'vars'